<div class=" content">
  <div class=" row">
    <div class=" col-lg-4 col-md-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Advertisement revenue</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 25% increase
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chartLineGreen2"> </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Most Played by OS</h5>
          <h3 class=" card-title">

          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area" style="position: relative;height: auto;">
            <canvas id="piechart"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">In app purchase</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 10% increase
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chartLineGreen"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Ad game Played</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chartLineRed"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-8 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Top Gaming Genre</h4>
        </div>
        <div class=" card-body">
         
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>Game</th>
                  <th>Demographics</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Action</td>
                  <td>Burger King</td>
                  <td>ATL</td>
                </tr>
                <tr>
                  <td>Sports</td>
                  <td>Soccer champ</td>
                  <td>MSP</td>
                </tr>
                <tr>
                  <td>Adventure</td>
                  <td>Wonderland</td>
                  <td>LAS</td>
                </tr>
                <tr>
                  <td>Board</td>
                  <td>Ludo</td>
                  <td>ATL</td>
                </tr>
                <tr>
                  <td>Puzzle</td>
                  <td>2048</td>
                  <td>MSP</td>
                </tr>
              </tbody>
            </table>
          
        </div>
      </div>
    </div>
  </div>
</div>