<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Traffic By Genre</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i>
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area" style="position: relative;height:auto;">
            <canvas id="chartHorizontalBar"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Traffic Source</h5>
          <h3 class=" card-title">
            Os
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area" style="position: relative;height: auto;">
            <canvas id="piechart"> </canvas>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-lg-4 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Top Searched Tags</h4>
        </div>
        <div class=" card-body">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Tag</th>
                  <th>Game</th>
                  <th>Hits</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Soccer</td>
                  <td>Sports</td>
                  <td>500</td>

                </tr>
                <tr>
                  <td>Burger</td>
                  <td>Action</td>
                  <td>350</td>
                </tr>
                <tr>
                  <td>Wonder</td>
                  <td>Adventure</td>
                  <td>252</td>
                </tr>
                <tr>
                  <td>2048</td>
                  <td>Puzzle</td>
                  <td>100</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class="col-lg-4 col-md-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Game Genre with Age</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> Genre vs Age
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chartLineGreen"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-8 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Most Played Games</h4>
        </div>
        <div class=" card-body">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Game</th>
                  <th>Genre</th>
                  <th>Top Demographics</th>
                  <th>Most Played Age Grp(yrs)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Soccer champ</td>
                  <td>Sports</td>
                  <td>MSP</td>
                  <td>18-25</td>
                </tr>
                <tr>
                  <td>Burger King</td>
                  <td>Action</td>
                  <td>ATL</td>
                  <td>0-12</td>
                </tr>
                <tr>
                  <td>Wonderland</td>
                  <td>Adventure</td>
                  <td>LAS</td>
                  <td>0-12</td>
                </tr>
                <tr>
                  <td>2048</td>
                  <td>Puzzle</td>
                  <td>MSP</td>
                  <td>35-55</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>