.dropdown-menu .dropdown-item {
    color: black !important;
    font-weight: 600 !important;
}

.example-section {
    margin-top:8px;
}
.container-fluid {
    padding: 0px !important;
}
@media only screen and (max-width: 480px) {
  .navbar {

    padding-left: 0px !important;
    padding-right: 0px !important;
}
}