<div class="logo">
  <a href="" class="simple-text logo-mini">
    <div class="logo-img">
      <img id="profile-logo" alt="Profile Photo" src="assets/img/james.jpg" />
    </div>
  </a>
  <a routerlink="/dashboard" class="simple-text logo-normal">
    Welcome {{role}}
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item" >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p style="font-weight: 500;font-size: 12px;font-style: initial;">{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>