<div class=" content">
  <div class=" row">
    <div class=" col-lg-6 col-md-12">
      <div class="card card-tasks">
        <div class=" card-header">
          <h6 class=" title d-inline">Issues</h6>
          <div ngbDropdown>
            <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
              <i class=" tim-icons icon-settings-gear-63"> </i>
            </button>
            <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
              <a href="javascript:void(0)" ngbDropdownItem> By Most Recent </a>
              <a href="javascript:void(0)" ngbDropdownItem> By Revenue</a>
              <a href="javascript:void(0)" ngbDropdownItem> By Advertisement</a>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class="a">
            <table class=" table">
              <tbody>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input class=" form-check-input" type="checkbox" value="" />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">Release v2.0.0</p>
                    <p class=" text-muted">
                      Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM
                    </p>
                  </td>
                   
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task"
                      container="body">
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input class=" form-check-input" type="checkbox" value="" />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">Release v2.0.1</p>
                    <p class=" text-muted">
                      Burger King App Down at 01/10/2019 12:20:00 +5:30 GMT
                    </p>
                  </td>
                   
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task"
                      container="body">
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Game Service Issue</h4>
        </div>
        <div class=" card-body">
          <div class="e">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Demographics Affected</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Burger King</td>
                  <td>Fixed</td>
                  <td>ATL</td>
                </tr>
                <tr>
                  <td>Soccer champ</td>
                  <td>Down</td>
                  <td>MSP</td>

                </tr>
                <tr>
                  <td>Wonderland</td>
                  <td>Down</td>
                  <td>LAS</td>
                </tr>
                <tr>
                  <td>Ludo</td>
                  <td>Down</td>
                  <td>ATL</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>